.posts,
.editor-notes {
  margin-top: 2em;
}
.section-title {
  font-size: 1.3em;
  font-weight: 600;
  color: #7d4e11;
  margin-bottom: 1em;
  letter-spacing: 1px;
}
.post,
.note {
  background: #f1eadc;
  border-radius: 8px;
  padding: 1.2em 1.5em;
  margin-bottom: 1.2em;
  box-shadow: 0 2px 8px rgba(49, 130, 206, 0.04);
}
.post-title {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0.4em;
  color: #a9761d;
}
.post-content,
.note-content {
  font-size: 1em;
  color: #484543;
}
.post-content a,
.note-content a {
  color: #988b39;
  text-decoration: none;
}
.post-content a:hover,
.note-content a:hover {
  text-decoration: underline;
}
.post-image,
.note-image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.post-date {
  font-size: 0.8em;
  color: #7d4e11;
  margin-bottom: 0.6em;
}
.post-author {
  font-size: 0.85em;
  color: #7d4e11;
  margin-top: 0.6em;
  display: block;
  text-align: right;
  font-style: italic;
}
.post-date,
.post-author {
  text-align: right;
}

.add-post-container {
  padding: 1em;
}
