.posts,
.editor-notes {
  margin-top: 2em;
}
.section-title {
  font-size: 1.3em;
  font-weight: 600;
  color: #7d4e11;
  margin-bottom: 1em;
  letter-spacing: 1px;
}
.post,
.note {
  background: #f1eadc;
  border-radius: 8px;
  padding: 1.2em 1.5em;
  margin-bottom: 1.2em;
  box-shadow: 0 2px 8px rgba(49, 130, 206, 0.04);
}
.post-title {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0.4em;
  color: #a9761d;
}

.post-file a {
  margin-bottom: 0.4em;
  color: #a9761d;
}
.post-content,
.note-content {
  font-size: 1em;
  color: #484543;
}
.post-content a,
.note-content a {
  color: #988b39;
  text-decoration: none;
}
.post-content a:hover,
.note-content a:hover {
  text-decoration: underline;
}
.post-image,
.note-image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.post-date {
  font-size: 0.8em;
  color: #7d4e11;
  margin-bottom: 0.6em;
}
.post-author {
  font-size: 0.85em;
  color: #7d4e11;
  margin-top: 0.6em;
  display: block;
  text-align: right;
  font-style: italic;
}
.post-date,
.post-author {
  text-align: right;
}

.add-post-container {
  padding: 1em;
}
.inline-md-editor {
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 6px;
  margin: 0.5rem 0;
}
.inline-md-editor .toolbar {
  margin-bottom: 6px;
}
.inline-md-editor .editor-textarea {
  width: 100%;
  height: 200px;
  font-family: monospace;
  margin-bottom: 6px;
}
.inline-md-editor .preview {
  border-top: 1px solid #ddd;
  padding-top: 6px;
  background: #fafafa;
}
.editor-actions {
  margin-top: 6px;
  text-align: right;
}
.editor-actions button {
  margin-left: 6px;
}
.load-more {
  display: block; /* full width */
  text-align: center; /* center text */
  margin: 1rem auto;
  padding: 0.4rem 0.8rem;
  color: #c2a00a;
  cursor: pointer;
  text-decoration: underline;
  font-weight: 500;
  user-select: none;
}
.load-more:hover {
  color: #825500;
}
